<div class="border"><div class="handle hor"></div></div>
<div class="content">
	<div class="icon-container">	
		<div class="image">
			<img src="/slices/lpl-core/stylesheets/assets/thumbnail-01.png" alt="icon">
		</div>stuff blah .jpg
		<div class="metadata">
			1200 x 817, PNG
		</div>
	</div>
	<div class="icon-container">
		<div class="icon">
			<img src="/slices/lpl-core/stylesheets/assets/lpl/icons/128x128_file.png" alt="icon">
		</div>PHAT file.cbr
		<div class="metadata">
			876kb, unknown
		</div>
	</div>
	<div class="icon-container">
		<div class="image">
			<img src="/slices/lpl-core/stylesheets/assets/thumbnail-03.png" alt="icon">
		</div>some long ass name image from a windows XP user.jpg
		<div class="metadata">
			640 x 480, BMP, uncompressed, fake metadata and such
		</div>
	</div>
	<div class="icon-container">
		<div class="text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</div>Short textblock part...
		<div class="metadata">
			876 words
		</div>		
	</div>	
</div>
