<div id='lpl_core_main'>
  <h1 class="lpl_not_found_404">404: Oops! Not found!</h1>
  <div class="lpl_error_container">
    <h1>The requested Page was not found.</h1>
    <p></p>
    <p class="error"></p>
    <p class="last">
      Thanks a bunch, we hope the rest of your experience here goes smoothly! 
    </p>
  </div>
</div>