/* lepilo Header */

div#lpl_header {
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:64px;
  background: transparent url(/images/lpl/header_bg.png) repeat-x;
  z-index:19000;
}

div.lpl_header_btn {
  position:relative;
  float:left;
  top:0px;
  width:51px;
  height:50px;
  text-indent:-5000px;
  background: transparent url(/images/lpl/header_button.png) no-repeat -130px 0px;
}


div.lpl_header_btn::-moz-selection, div.lpl_header_icn::-moz-selection {
 background:transparent;
}

div.lpl_header_btn::selection, div.lpl_header_icn::selection {
 background:transparent;
}


div.lpl_header_btn:hover {
  cursor: pointer;
  background: transparent url(/images/lpl/header_button.png) no-repeat -190px 0px;
}

div.lpl_header_btn:active {
  cursor: pointer;
  background: transparent url(/images/lpl/header_button.png) no-repeat -250px 0px;
}

div.lpl_header_btn {
  position:relative;
  float:left;
  top:0px;
  width:51px;
  height:50px;
  background: transparent url(/images/lpl/header_button.png) no-repeat -130px 0px;
}

div.lpl_header_btn.logo {
  width:110px;
  background: transparent url(/images/lpl/header_button.png) no-repeat 0px 0px;
}

div.lpl_header_btn.current {
  width:51px;
  background: transparent url(/images/lpl/header_button.png) no-repeat -310px 0px;
}

div.lpl_header_btn.start {
  width:5px;
  background: transparent url(/images/lpl/header_button.png) no-repeat -110px 0px;
}

div.lpl_header_btn.end {
  width:5px;
  background: transparent url(/images/lpl/header_button.png) no-repeat -120px 0px;
}

div.lpl_header_btn.spacer {
  width:51px;
  background: transparent;
}

div.lpl_header.logout {
  float:right;
}

div.lpl_header_icn {
  position:absolute;
  top:0px;
  left:0px;
  width:50px;
  height:50px;
  color:#fff;
  font-size:0.65em;
  font-weight:bold;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  text-indent:0px;
  line-height:80px;
}
