<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Markdown Preview</title>
  <link rel="stylesheet" type="text/css" href="/slices/lpl-core/javascripts/markitup/templates/preview.css" />
  <script type="text/javascript" src="/slices/lpl-core/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/slices/lpl-core/javascripts/showdown.js"></script>
  <script type="text/javascript" src="/slices/lpl-core/javascripts/lpl.support.js"></script>
  <script type="text/javascript" charset="utf-8">
    jQuery(function($) { $('.lpl_markdown').markdown(); });    
  </script>
</head>
<!-- keep the body tag without indenting or spacing -->
<body class="lpl_markdown"><!-- content --></body>
</html>
