.content
{
	line-height:1.6em;
}

.content a
{
	text-decoration:underline;
}

.content strong,.content th,.content thead td,.content h1,.content h2,.content h3,.content h4,.content h5,.content h6,.content dt
{
	font-weight:bold;
}

.content cite,.content em,.content dfn
{
	font-style:italic;
}

.content code,.content kbd,.content samp,.content pre,.content tt,.content var
{
	font-size:100%;
	font-family:mono-space,monospace;
}

.content pre
{
	white-space:pre;
}

.content pre *
{
	font-size:100%;
	white-space:pre;
}

.content del
{
	text-decoration:line-through;
}

.content ins,.content dfn
{
	border-bottom:1px solid black;
}

.content small,.content sup,.content sub
{
	font-size:85%;
}

.content big
{
	font-size:125%;
	line-height:80%;
}

.content abbr,.content acronym
{
	text-transform:uppercase;
	font-size:85%;
	letter-spacing:.1em;
}

.content abbr[title],.content acronym[title],.content dfn[title]
{
	cursor:help;
	border-bottom:1px dotted black;
}

.content sup
{
	vertical-align:super;
}

.content sub
{
	vertical-align:sub;
}

.content blockquote
{
	padding-left:2.2em;
}

.content .dquo
{
	margin-left:-.55em;
}

.content :lang(af),.content :lang(nl),.content :lang(pl)
{
	quotes:'\201E' '\201D' '\201A' '\2019';
}

.content :lang(bg),.content :lang(cs),.content :lang(de),.content :lang(is),.content :lang(lt),.content :lang(sk),.content :lang(sr),.content :lang(ro)
{
	quotes:'\201E' '\201C' '\201A' '\2018';
}

.content :lang(da),.content :lang(hr)
{
	quotes:'\00BB' '\00AB' '\203A' '\2039';
}

.content :lang(el),.content :lang(es),.content :lang(sq),.content :lang(tr)
{
	quotes:'\00AB' '\00BB' '\2039' '\203A';
}

.content :lang(en-GB)
{
	quotes:'\2018' '\2019' '\201C' '\201D';
}

.content :lang(fi),.content :lang(sv)
{
	quotes:'\201D' '\201D' '\2019' '\2019';
}

.content :lang(fr)
{
	quotes:'\ab\2005' '\2005\bb' '\2039\2005' '\2005\203a';
}

.content *[lang|='en'] q:before
{
	content:'\201C';
}

.content *[lang|='en'] q:after
{
	content:'\201D';
}

.content *[lang|='en'] q q:before
{
	content:'\2018';
}

.content *[lang|='en'] q q:after
{
	content:'\2019';
}

.content input,.content select,.content button
{
	cursor:pointer;
}

.content input[type='text'],.content input[type='password']
{
	cursor:text;
}

.content input[type='hidden']
{
	display:none;
}

.content h1
{
	font-size:1.6em;
	line-height:1;
	margin:1em 0 .5em;
}

.content h2
{
	font-size:1.5em;
	line-height:1;
	margin:1.07em 0 .535em;
}

.content h3
{
	font-size:1.4em;
	line-height:1;
	margin:1.14em 0 .57em;
}

.content h4
{
	font-size:1.3em;
	line-height:1;
	margin:1.23em 0 .615em;
}

.content h5
{
	font-size:1.2em;
	line-height:1;
	margin:1.33em 0 .67em;
}

.content h6
{
	font-size:1em;
	line-height:1;
	margin:1.6em 0 .8em;
}

.content hr
{
	display:block;
	background:black;
	color:black;
	width:100%;
	height:1px;
	border:none;
}

.content ul
{
	list-style:disc outside;
}

.content ol
{
	list-style:decimal outside;
}

.content table
{
	border-collapse:collapse;
}

.content hr,.content p,.content ul,.content ol,.content dl,.content pre, .content address,.content table,.content form
{
	margin-bottom:1.6em;
}

.content p+p
{
	margin-top:-.8em;
}

.content fieldset
{
	margin:1.6em 0;
	padding:1.6em;
}

/* \*/

.content legend
{
	padding-left:.8em;
	padding-right:.8em;
}

.content fieldset>*:first-child
{
	margin-top:0;
}

.content textarea,.content input[type='text']
{
	padding:.1em .2em;
}

.content input
{
	padding:.2em .1em;
}

.content select
{
	padding:.2em .1em 0;
}

.content select[multiple]
{
	margin-bottom:.8em;
}

.content option
{
	padding:0 .4em .1em;
}

.content button
{
	padding:.3em .5em;
}

.content input[type='radio']
{
	position:relative;
	bottom:-.2em;
}

.content dt
{
	margin-top:.8em;
	margin-bottom:.4em;
}

.content ul,.content ol
{
	margin-left:2.2em;
}

.content caption,.content form div
{
	padding-bottom:.8em;
}

.content ul ul,content ol ul,.content ul ol,content ol ol
{
	margin-bottom:0;
}