/* -------------------------------------------------------- */
/*    IN-PLACE POP-UP                                       */
/*    Non-modal pop-ups for editing content                 */
/* -------------------------------------------------------- */

div.lpl_pop_in {
  position:absolute;
  min-width:250px;
  background: #ced0cf url(assets/lpl/gradient-bright.png) repeat-x;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.75);
  -moz-border-radius: 10px;
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.75);
  overflow:hidden;
  z-index:24000;
}

div.lpl_pop_in div.container {
  position:relative;
  margin: 5px;
  overflow:hidden;
}

div.lpl_pop_in h1 {
  margin: 5px 15px 0 15px;
  font-weight:bold;
  font-size:12px;
  text-align:center;
  color:#333;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.75);
}

/* -------------------------------------------------------- */
/*    CONTENT LIST UI                                       */
/*    Additional styles for the content lists               */
/* -------------------------------------------------------- */

ul.lpl_content_list > div.pagination {
  position:absolute;
  right:8px;
  height:32px;
}

ul.lpl_content_list > div.pagination::-moz-selection{
 background:transparent;
}

ul.lpl_content_list > div.pagination::selection {
 background:transparent;
}


ul.lpl_content_list > div.pagination.top {
  top:8px;
}


ul.lpl_content_list > div.pagination > div.canal {
  position:relative;
  top:6px;
  right:6px;
  height:32px;
}

.lpl_canal_32 {
  position:relative;
  height:30px;
  margin:0px 15px -32px 0px;
  background: transparent url(assets/lpl/canal.png) no-repeat 0px 0px;
}

.lpl_canal_32 > span {
  position:relative;
  display:block;
  float:right;
  top:0px;
  right:-15px;
  height:32px;
  width:15px;
  margin:0 0 0 -15px;
  background: transparent url(assets/lpl/canal.png) no-repeat -585px 0px;
}

ul.lpl_content_list > div.pagination > div.page {
  position:absolute;
  top:-28px;
  width:100%;
  color:#ccc;
  font-size:10px;
  font-weight:bold;
  text-align:center;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.75);
}  

ul.lpl_content_list > div.pagination.bottom {
  position:absolute;
  bottom:7px;
  right:8px;
  height:32px;
}

ul.lpl_content_list > div.pagination.bottom > div.page {
  top:38px;
}

/* -------------------------------------------------------- */
/*    FOLDERS LIST                                          */
/*    Styles for a list of folders                          */
/* -------------------------------------------------------- */

.lpl_sidebar_folders {
  overflow:hidden;
}

.lpl_sidebar_folders ul.lpl_folders {
}

.lpl_sidebar_folders ul::-moz-selection, .lpl_sidebar_folders li::-moz-selection {
  background:transparent;
}

.lpl_sidebar_folders ul::selection, .lpl_sidebar_folders li::selection {
  background:transparent;
}

.lpl_sidebar_folders ul.lpl_folders li {
  position:relative;
  height:24px;
  cursor: pointer;
  padding:2px 0 2px 0;
  font-size:12px;
  font-weight:bold;
  text-indent:35px;
  line-height:24px;
}

.lpl_sidebar_folders ul.lpl_folders li:hover {
  width:100%;
  background:rgba(255, 255, 255, 0.25);
}

.lpl_sidebar_folders ul.lpl_folders li:active {
  color:#fff;
  text-shadow:0px 1px 1px rgba(0, 0, 0, 0.75);
  background: transparent url(assets/lpl/speed-stripesi.png) repeat-x 0px -160px;
}

.lpl_sidebar_folders ul.lpl_folders li.active {
  color:#fff;
  text-shadow:0px 1px 1px rgba(0, 0, 0, 0.75);
  background: transparent url(assets/lpl/speed-stripesi.png) repeat-x 0px 0px;
}

/* -------------------------------------------------------- */
/*    TREE LIST                                             */
/*    Styles for a general tree-like list                   */
/* -------------------------------------------------------- */

h1.lpl_sidebar {
  margin: 5px 15px 0 15px;
  font-weight:bold;
  font-size:12px;
  text-align:right;
  color:#333;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
}

h1.lpl_inspector {
  margin: 5px 15px 0 10px;
  font-weight:bold;
  font-size:12px;
  color:#333;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
}

ul.lpl_tree {
  font-size:12px;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
}

ul.lpl_tree ul::-moz-selection{
 background:transparent;
}

ul.lpl_tree ul::selection {
 background:transparent;
}


ul.lpl_tree ul {
  cursor: pointer;
  padding:0 0 0 20px;
  margin:0 0 5px 0;
  background: transparent url(assets/lpl/list-closed.png) no-repeat 0px 4px;
}

ul.lpl_tree ul:hover {
  background: rgba(0, 0, 0, 0.1) url(assets/lpl/list-closed.png) no-repeat 0px 4px;
}

ul.lpl_tree ul:active {
  background: rgba(0, 0, 0, 0.1) url(assets/lpl/list-open.png) no-repeat 2px 2px;
}

ul.lpl_tree ul.open {
  padding:0 0 5px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(0, 0, 0, 0.05) url(assets/lpl/list-open.png) no-repeat 2px 2px;
}

ul.lpl_tree ul li, ul.lpl_tree ul.open li {
  cursor: pointer;
  margin:0 10px 2px -10px;
  padding:0 0 0 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

ul.lpl_tree ul li:hover, ul.lpl_tree ul.open li:hover {
  background: rgba(0, 0, 0, 0.1);
}

ul.lpl_tree ul li:active, ul.lpl_tree ul.open li:active {
  color:#fff;
  background:#666 url(assets/lpl/speed-stripesi.png) repeat-x 0px -160px;
  text-shadow: 1px 1px 1px #333;
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0px 2px 1px rgba(255, 255, 255, 0.25);
}

ul.lpl_tree li.active {
  color:#fff;
  font-weight:bold;
  background:#9bc019 url(assets/lpl/speed-stripesi.png) repeat-x 0px 0px;
  text-shadow: 1px 1px 1px #346700;
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
}

ul.lpl_tree li.active:hover, ul.lpl_tree ul.open li.active:hover {
  background:#9bc019 url(assets/lpl/speed-stripes.png) repeat-x 0px -160px;
  text-shadow: 1px 1px 1px #333;
}

/* -------------------------------------------------------- */
/*    TAGS                                                  */
/*    Styles for Tags                                       */
/* -------------------------------------------------------- */

div.lpl_tag {
  position:relative;
  float:left;
  margin:1px 10px 2px 3px;
  padding:0 0 0 20px;
  font-size:13px;
  font-weight:bold;
  height:26px;
  color:#fff;
  text-shadow: 1px 1px 1px rgba(0, 75, 0, 0.9);
  background: transparent url(assets/lpl/tag-bg.png) no-repeat;
}

div.lpl_tag::-moz-selection{
 background:transparent;
}

div.lpl_tag::selection {
 background:transparent;
}

div.lpl_tag span {
  position:absolute;
  float:right;
  top:0px;
  right:0px;
  width:15px;
  height:26px;
  margin-right:-15px;
  background: transparent url(assets/lpl/tag-bg.png) no-repeat top right;
}
div.lpl_tag.plain {
  position:relative;
  float:left;
  margin:2px 0px 3px 5px;
  padding:0 7px 0 7px;
  font-size:11px;
  font-weight:bold;
  height:18px;
  line-height:18px;
  color:#fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
  -moz-border-radius: 4px;
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
  background:#666 url(assets/lpl/speed-stripesi.png) repeat-x 0px -160px;
}

div.lpl_tag.plain span {
  display:none;
}

div.lpl_tag.plain.active {
  text-shadow: 1px 1px 1px rgba(0, 75, 0, 0.75);
  background:#9bc019 url(assets/lpl/speed-stripesi.png) repeat-x 0px -10px;
}

/* -------------------------------------------------------- */
/*    SHELF                                                 */
/*    Shelf Styles                                          */
/* -------------------------------------------------------- */

div#lpl_core_shelf div.border {
  position:absolute;
  top:4px;
  left:0px;
  height:7px;
  width:100%;
  text-align: center;
  cursor: n-resize;
  background: transparent url(assets/lpl/separator-hor.png) repeat-x;
}

div#lpl_core_shelf.open div.border {
  cursor: s-resize;
}

div#lpl_core_shelf div.border div.handle.hor {
  position:relative;
  margin:0 auto 0 auto;
  top:2px;
  height:3px;
  width:18px;
  background: transparent url(assets/lpl/handle-hor.png) repeat-x;
}

div#lpl_core_shelf > div.header {
  position:relative;
  top:10px;
  height:34px;
  background: transparent url(assets/lpl/button-headers-bg.png) repeat-x 0px -46px;
  overflow:hidden;
}

div#lpl_core_shelf > div.header .icon {
  position:relative;
  float:left;
  top:1px;
  width:34px;
  height:34px;
  border-right: 1px solid rgba(0,0,0,0.25);
  overflow:hidden;
}

div#lpl_core_shelf > div.header .icon:first-child {
  margin-left:10px;
  border-left: 1px solid rgba(0,0,0,0.25);
}

div#lpl_core_shelf > div.header .icon:hover {
  background: transparent url(assets/lpl/button-headers-bg.png) repeat-x 0px -3px;
}

div#lpl_core_shelf > div.header .icon:active {
  background: transparent url(assets/lpl/button-headers-bg.png) repeat-x 0px -91px;
}

div#lpl_core_shelf > div.header .icon.active {
  background: transparent url(assets/lpl/button-headers-bg.png) repeat-x 0px -135px;
}

div#lpl_core_shelf > div.header .icon img {
  position:relative;
  top:4px;
  left:4px;
  width:24px;
  height:24px;
}

div#lpl_core_shelf > div.header .buttons {
  position:absolute;
  overflow:hidden;
  top:1px;
  left:200px;
}


div#lpl_core_shelf > div.header .loading {
  position:absolute;
  top:8px;
  right:6px;
  width:16px;
  height:16px;
}


div#lpl_core_shelf > div.scroller {
  position:relative;
  top:11px;
  left:0px;
  height:205px;
  width:100%;
  overflow-x:auto;
  overflow-y:hidden;
}

div#lpl_core_shelf > div.scroller > div.content {
  position:relative;
  height:190px;
  overflow:hidden;
}

div#lpl_core_shelf div.icon-container {
  position:relative;
  float:left;
  margin:5px 0 0 5px;
  padding:5px;
  width:128px;
  height:170px;
  overflow:hidden;
  color:#fff;
  font-size:12px;
  line-height:14px;
  font-weight:bold;
  text-shadow:0px 1px 1px rgba(0,0,0,0.75);
  text-align:center;
}

div#lpl_core_shelf div.icon-container:hover {
  background:rgba(0,0,0,0.25);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
}

div#lpl_core_shelf div.icon-container div.image {
  position:relative;
  height:135px;
  text-align:center;
}

div#lpl_core_shelf div.icon-container div.image img {
  display:block;
  margin:0 auto 0 auto;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
}

div#lpl_core_shelf div.icon-container div.text {
  position:relative;
  height:123px;
  margin:0 0 4px 0;
  padding:4px;
  color:#222;
  font-size:9px;
  line-height:10px;
  font-weight:bold;
  text-align:left;
  text-shadow:0px 1px 1px rgba(255,255,255,0.75);
  background: #eee url(assets/lpl/gradient-bright.png);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
}

div#lpl_core_shelf div.icon-container div.metadata {
  position:relative;
  color:#b5d63e;
  margin:0;
  padding:0;
  font-size:10px;
  line-height:12px;
}

/* -------------------------------------------------------- */
/*    FLASH MESSAGE STYLES                                  */
/*    Styles for the merb Flash Messages                    */
/* -------------------------------------------------------- */


#lpl_flash {
  position:relative;
  top:0px;
  left:0px;
  padding:10px;
  color:#fff;
  font-weight:bold;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
  background:#41433f url(assets/lpl/gradient-info-medium.png) repeat-x;
}

#lpl_flash.yay {
  background:#64a40b url(assets/lpl/gradient-yay.png) repeat-x;
}

#lpl_flash.fail {
  background:#c52e1f url(assets/lpl/gradient-fail.png) repeat-x;
}

#lpl_flash .lpl_right {
  position:absolute;
  color:#333;
  bottom:4px;
  right:5px;
}

/* -------------------------------------------------------- */
/*    SIMPLE UI WIDGETS                                     */
/*    simple markup widgets                                 */
/* -------------------------------------------------------- */

* > span.lpl_tooltip {
  position:relative;
  display:none;
  top:10px;
  left:-10px;
  padding:3px;
  font-size:10px;
  line-height:12px;
  background:#fff191;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  overflow:hidden;
  z-index:50000;
}

*:hover > span.lpl_tooltip {
  display:inline;
}
  
/* -------------------------------------------------------- */
/*    AJAX STYLES                                           */
/*    Styles for Elements used with AJAX calls              */
/* -------------------------------------------------------- */


div.processing.gray {
  width:100%;
  text-align:center;
  font-size:11px;
  font-weight:bold;
  color:#545454;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

div.processing.dark {
  width:100%;
  text-align:center;
  font-size:11px;
  font-weight:bold;
  color:#999;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.75);
}

div.processing.topics {
  position:relative;
  float:left;
  top:10px;
  width:30px;
  text-align:center;
  font-size:11px;
  font-weight:bold;
  color:#999;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.75);
}

div.processing.topics_edit {
  position:relative;
  top:3px;
  left:5px;
  text-align:center;
  background:none;
}

/* lepilo UI Feedback Components */

/* lepilo UI Information Pop-up */

div.lpl_infopop {
/*  display:none;*/
  position:relative;
  margin-left:auto;
  margin-right:auto;
  width:600px;
  top:-1000px;
  overflow:visible;
  padding:10px;
  background: transparent url(assets/lpl/black-50alpha.png);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  z-index:28000;
}

div.lpl_infopop div.content {
  position:relative;
  padding:10px;
  background-color:#333;
/*  background: transparent url(assets/lpl/gray-50alpha.png);
*/  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

div.lpl_infopop div.content div.file {
  color:#ddd;
  font-size: 12px;
  line-height:20px;
  text-indent:7px;
  text-shadow: 1px 1px 1px #000;
  padding:5px;
  margin-bottom:5px;
  margin-left:auto;
  margin-right:auto;
  background: transparent url(assets/lpl/gradient-info-medium.png);
  -moz-border-radius: 3px;
  -webkit-border-radius: 4px;
}

div.lpl_infopop div.content div.file.yay {
  background: transparent url(assets/lpl/gradient-yay.png);
}

div.lpl_infopop div.content div.file.fail {
  background: transparent url(assets/lpl/gradient-fail.png);
}

div.lpl_infopop div.content div.file div.info {
  color:#fff;
  font-size: 12px;
  line-height:20px;
  text-indent:7px;
  text-shadow: 1px 1px 1px #000;
  -moz-border-radius: 3px;
  -webkit-border-radius: 4px;
}

div.lpl_infopop h1 {
  margin-bottom:15px;
  font-size: 18px;
  color:#fff;
  text-shadow: 1px 1px 1px #000;
}

div.lpl_infopop h2 {
  color:#fff;
  text-shadow: 1px 1px 1px #000;
}

/**/

div.lpl_editpop {
/*  display:none;*/
  position:absolute;
  margin-left:auto;
  margin-right:auto;
  width:600px;
/*  top:-1000px;*/
  top:100px;
  overflow:visible;
  padding:10px;
  background: transparent url(assets/lpl/black-50alpha.png);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

div.lpl_editpop div.content {
  position:relative;
  padding:10px;
  background: #ced0cf url(assets/lpl/gradient-bright.png);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

/* lepilo UI Information Stripes */

div.lpl_infostripe {
  position:relative;
  height:48px;
  margin-bottom:5px;
  overflow:hidden;
  font-size: 18px;
  line-height:42px;
  color:#333;
  text-indent:64px;
  text-shadow: 1px 1px 1px #eee;
  background: transparent url(assets/lpl/stripe-blank.png) repeat-x top left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.lpl_infostripe.yay {
  font-weight:bold;
  color:#fff;
  text-shadow: 1px 1px 2px #2b610a;
  background: transparent url(assets/lpl/stripe-ok.png) repeat-x top left;
}

div.lpl_infostripe.fail {
  font-weight:bold;
  color:#fff;
  text-shadow: 1px 1px 2px #a80a27;
  background: transparent url(assets/lpl/stripe-fail.png) repeat-x top left;
}

/* lepilo UI Progress Bar */

div.lpl_progress_bar_bg {
  width:100%;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:10px;
  height:15px;
  background: transparent url(assets/lpl/progress-bg.png) repeat-x center left;
  overflow:hidden;
}

div.lpl_progress_bar {
  position:relative;
  float:left;
  width:1%;
  height:15px;
  background: #93c119 url(assets/lpl/progress-ani.gif) repeat-x top;
}