/* -------------------------------------------------------- */
/*    lepilo CONTENT                                        */
/* -------------------------------------------------------- */

div#lpl_core_main {
  position:absolute;
  top:62px;
  overflow:hidden;
  padding:10px 10px 50px 10px;
  overflow:hidden;
}

/* -------------------------------------------------------- */
/*    GENERIC LIST                                          */
/*    generic list list styles                              */
/* -------------------------------------------------------- */

div.lpl_list {
  display:table;
  position:relative;
  width:100%;
  clear:both;
  overflow:hidden;
}

div.lpl_list_entry {
  display:table-row;
  position:relative;
  width:100%;
  clear:both;
  margin:0 0 10px 0;
  overflow:hidden;
}

div.lpl_list_entry h3 {
  color:#333;
  font-size:12px;
  line-height:14px;
  text-shadow: 0px 1px 0px #fff;
}


/* -------------------------------------------------------- */
/*    CONTENT LISTS                                         */
/*    list styles used when representing the different      */
/*    blocks in a list-like view                            */
/* -------------------------------------------------------- */

ul.lpl_content_list {
  position:relative;
  display:block;
  border-top:1px solid #ccc;
}

ul.lpl_content_list.paginated {
  margin-bottom:40px;
}

ul.lpl_content_list > li {
  position:relative;
  display:block;
  padding:10px 20px 10px 20px;
  border-bottom:1px solid #ccc;
  overflow:hidden;
}

ul.lpl_content_list > li h2 {
  color:#000;
  font-size:16px;
  margin:0;
  text-shadow:0px 1px 0px rgba(255, 255, 255, 0.75);
}

ul.lpl_content_list > li div.thumbnail {
  position:relative;
  float:left;
  width:64px;
  height:64px;
  margin:0 10px 0 0;
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
  overflow:hidden;
}

ul.lpl_content_list > li div.metadata {
  margin:0 0 5px 0;
  font-size:10px;
  line-height:12px;
  color:#999;
}

ul.lpl_content_list > li div.description {
  font-size:11px;
  line-height:13px;
}

ul.lpl_content_list > li div.reorder {
  position:absolute;
  top:5px;
  left:0px;
  width:15px;
  height:25px;
  cursor:ns-resize;
  display:none;
}

ul.lpl_content_list > li:hover div.reorder {
  display:block;
}

ul.lpl_content_list > li div.edit {
  position:relative;
  float:right;
  top:-10px;
  right:-10px;
  height:20px;
  padding:0 5px 0 5px;
  font-size:11px;
  line-height:18px;
  display:none;
}

ul.lpl_content_list > li:hover div.edit {
  display:block;
}

/* -------------------------------------------------------- */
/*    INSPECTOR LIST STYLES                                 */
/*    Styles for list inside lpl_core_inspector             */
/* -------------------------------------------------------- */

ul.inspector_list {
  position:relative;
  display:block;
  padding:2px 1px 0 1px;
  background: transparent url(assets/lpl/sidebar-list-bg.png) no-repeat 0px -5px;
}

ul.inspector_list:after {
  content:"";
  position:relative;
  display:block;
  height:2px;
  background: transparent url(assets/lpl/sidebar-list-bg.png) no-repeat 0px -3px;
}

ul.inspector_list > li {
  display:block;
  padding:0 5px 0 0;
  background: #e1e2e1 url(assets/lpl/gradient-bright.png) repeat-x;
  border-top:1px solid rgba(255,255,255,0.5);
  border-bottom:1px solid rgba(0,0,0,0.15);
  overflow:hidden;
}

ul.inspector_list > li .thumbnail {
  position:relative;
  float:left;
  left:1px;
  width:48px;
  height:48px;
  text-align:center;
  margin:0 10px 1px 0;
  background: transparent url(assets/lpl/48x48-img-bg.png) no-repeat;
}

ul.inspector_list > li .thumbnail > img {
  max-height:48px;
  max-width:48px;
}

ul.inspector_list > li .icon {
  position:relative;
  float:left;
  left:1px;
  width:24px;
  height:24px;
  margin:0 2px 1px 0;
}

ul.inspector_list > li .name {
  position:relative;
  padding:0 0 0 26px;
  color:#666;
  font-weight:bold;
  font-size:12px;
  text-shadow:0px 1px 0px rgba(255,255,255,0.5);
}

ul.inspector_list > li:hover .name {
  color:#333;
}

ul.inspector_list > li .metadata {
  position:relative;
  padding:0 0 0 26px;
  color:#999;
  font-size:11px;
  line-height:13px;
  text-shadow:0px 1px 0px rgba(255,255,255,0.5);
  margin:0 0 5px 0;
}

ul.inspector_list.thumbnails > li .metadata {
  padding:0 0 0 58px;
}

ul.inspector_list > li:hover .metadata {
  color:#666;
}

ul.inspector_list > li a {
  text-decoration:none;
  color:#333;
}

/* -------------------------------------------------------- */
/*    SIMPLE LIST                                           */
/*    Styles for a simple list                              */
/* -------------------------------------------------------- */

.lpl_list ul {
  overflow:hidden;
  border-top:1px solid rgba(0,0,0,0.1);
}

.lpl_list ul::-moz-selection, .lpl_list li::-moz-selection {
  background:transparent;
}

.lpl_list ul::selection, .lpl_list li::selection {
  background:transparent;
}

.lpl_list ul li {
  position:relative;
  min-height:26px;
  font-size:13px;
  text-indent:30px;
  line-height:26px;
  cursor: pointer;
  border-bottom:1px solid rgba(0,0,0,0.1);
}

.lpl_list ul li a {
  display:block;
  color:#222;
  text-decoration:none;
}

.lpl_list ul li a:active, .lpl_list ul li.active a {
  color:#fff;
}

.lpl_list ul li:hover {
  background:rgba(255, 255, 255, 0.25);
}

.lpl_list ul li:active {
  color:#fff;
  text-shadow:0px 1px 1px rgba(0, 0, 0, 0.75);
  background: transparent url(assets/lpl/speed-stripesi.png) repeat-x 0px -160px;
}

.lpl_list ul li.container:hover {
  background:transparent;
}

.lpl_list ul li.container:active {
  text-shadow:none;
  background: transparent;
}

.lpl_list ul li.active {
  color:#fff;
  font-weight:bold;
  text-shadow:0px 1px 1px rgba(0, 0, 0, 0.75);
  background: transparent url(assets/lpl/speed-stripesi.png) repeat-x 0px 0px;
  border-bottom:none;
}

.lpl_list ul li > ul {
  border-bottom:none;
  border-top:none;
}

.lpl_list ul li > ul li {
  text-indent:50px;
  border-bottom:none;
  border-top:1px solid rgba(0,0,0,0.1);
}

.lpl_list ul li > ul li:first-child {
  border-top:none;
}

.lpl_list ul li > ul li > ul li {
  text-indent:70px;
}

/* -------------------------------------------------------- */
/*    ROUNDED LIST                                          */
/*    Styles for a list in a rounded container              */
/* -------------------------------------------------------- */

.lpl_list.rounded {
}

.lpl_list.rounded ul {
  position:relative;
  padding:10px 0 5px 0;
  margin:5px 5px 10px 5px;
  background: #e1e2e1 url(assets/lpl/gradient-brighter.png) repeat-x;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  overflow:hidden;
}

.lpl_list.rounded ul > li {
  min-height:20px;
  font-size:13px;
  text-indent:30px;
  line-height:26px;
  cursor: pointer;
  border-top:1px solid rgba(255,255,255,0.25);
  border-bottom:1px solid rgba(0,0,0,0.05);
  background:transparent url(assets/lpl/topic-idle.png) no-repeat center right;
}

.lpl_list.rounded ul > li:first-child{
  border-top:1px solid rgba(0,0,0,0.05);
}



/* green color variation */ 

/*

ul.lpl_folders.green {
  background:#b7cb7f;
  border-top:1px solid rgba(0,50,0,0.2);
}

ul.lpl_folders.green li {
  border-bottom:1px solid rgba(0,50,0,0.1);
}

ul.lpl_folders.green li.folder:active {
  color:#fff;
  font-weight:bold;
  text-shadow:0px 1px 1px rgba(0, 0, 0, 0.75);
  background: rgba(153,174,69,1);
}

ul.lpl_folders.green li.folder.active {
  background: transparent url(assets/lpl/speed-stripesi.png) repeat-x 0px 0px;
}


ul.lpl_folders.green li ul li {
  text-indent:50px;
  border-bottom:none;
  border-top:1px solid rgba(0,50,0,0.1);
}

ul.lpl_folders li a, ul.lpl_folders li ul li a {
  display:block;
  color:#222;
  text-decoration:none;
}

ul.lpl_folders li a:active, ul.lpl_folders li.folder.active a {
  color:#fff;
}

*/

/* -------------------------------------------------------- */
/*    TREE LIST                                             */
/*    Styles for a general tree-like list                   */
/* -------------------------------------------------------- */

ul.lpl_tree {
  overflow:hidden;
  margin:0 0 5px 0;
  border-top:1px solid rgba(0,0,0,0.05);
}

ul.lpl_tree ul::-moz-selection, ul.lpl_tree li::-moz-selection {
 background:transparent;
}

ul.lpl_tree ul::selection, ul.lpl_tree li::selection {
 background:transparent;
}

ul.lpl_tree li {
  min-height:20px;
  font-size:13px;
  text-indent:30px;
  line-height:26px;
  cursor: pointer;
  border-top:1px solid rgba(255,255,255,0.25);
  border-bottom:1px solid rgba(0,0,0,0.05);
  background:transparent url(assets/lpl/topic-idle.png) no-repeat center right;
}

ul.lpl_tree li:hover {
  background:#9bc019 url(assets/lpl/topic-hover.png) no-repeat center right;
}

ul.lpl_tree li:active {
  color:#fff;
  font-weight:bold;
  background:#9bc019 url(assets/lpl/topic-down.png) no-repeat center right;
  text-shadow: 1px 1px 1px #333;
}

ul.lpl_tree li.active {
  color:#fff;
  font-weight:bold;
/*  background:#9bc019 url(assets/lpl/speed-stripesi.png) repeat-x 0px 0px; */
  background:#9bc019 url(assets/lpl/topic-selected.png) no-repeat center right;
  text-shadow: 1px 1px 1px #346700;
  border-top:1px solid rgba(0,0,0,0.05);
  border-bottom:1px solid rgba(255,255,255,0.25);
}

ul.lpl_tree li.container {
  text-indent:50px;
  border-top:none;
  border-bottom:none;
}

ul.lpl_tree li.container:hover {
  background:none;
}

ul.lpl_tree li.container:active {
  color:#333;
  font-weight: normal;
  text-shadow:none;
  background:none;
}

ul.lpl_tree li ul li {
  text-indent:40px;
}

ul.lpl_tree li a {
  display:block;
  color:#222;
  text-decoration:none;
}

ul.lpl_tree li a:active, ul.lpl_tree li.active a {
  color:#fff;
}

/* -------------------------------------------------------- */
/*    CONTAINER STYLES                                      */
/*    misc styles to wrap content in, from inset, hovering, */
/*    bordered, on                                          */
/* -------------------------------------------------------- */

.lpl_container_rounded {
  position:relative;
  padding:10px 0 5px 0;
  margin:0 0 20px 0;
  background: #e1e2e1 url(assets/lpl/gradient-brighter.png) repeat-x;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.lpl_container_rounded h1 {
  color:#333;
  padding:5px 20px 5px 20px;
  text-shadow:0px 1px 0px rgba(255, 255, 255, 0.75);
}

.lpl_container_inset {
  position:relative;
  display:block;
  margin:5px;
  padding:5px 0 5px 0;
  clear:both;
  background:rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  -moz-border-radius: 5px;
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  overflow:hidden;
}

/* -------------------------------------------------------- */
/*    CONTAINERS                                            */
/*    white, rounded corners & dropshadow goodness          */
/* -------------------------------------------------------- */

div#lpl_article_container {
  position:relative;
  margin:0 10px 0 10px;
  padding:10px;
  background: #fafafa;
  -webkit-border-radius: 7px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 7px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  overflow:hidden;
}

#lpl_article_container ul {
  list-style-type:disc;
}

#lpl_article_container ul li {
  text-indent:20px;
  list-style-type:circle;
  list-style-position: outside;
}

div#lpl_textblock_container {
  position:relative;
  margin:5px;
  padding:20px;
  background: #fafafa;
  -webkit-border-radius: 7px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 7px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  overflow:hidden;
  clear:both;
}

div#lpl_mediablock_container {
  position:relative;
  margin:5px;
  padding:20px;
  text-align:center;
  background: #333;
  -webkit-border-radius: 7px;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-border-radius: 7px;
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
  overflow:hidden;
  clear:both;
}

div#lpl_mediablock_container div {
  color:#fff;
  font-size:12px;
  font-weight:bold;
  text-shadow: 0px 1px 1px #000;
}

/* ———————————————————————————————————————— */
/*    old content list styles               */

div.lpl_list_entry.articles, 
div.lpl_list_entry.media_resources, 
div.lpl_list_entry.text_containers {
}

div.lpl_list_entry.articles div, 
div.lpl_list_entry.media_resources div, 
div.lpl_list_entry.text_containers div {
  display:table-cell;
  padding:4px;
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background: #ddd url(/images/lpl/gradient-bright.png) repeat-x;
}

div.lpl_list_entry div.description {
  padding:4px 10px 4px 10px;
  color:#111;
  font-size:11px;
  line-height:14px;
  text-shadow: 0px 1px 0px #fff;
}

div.lpl_list_entry.articles div.thumbnail {
  width:32px;
}

div.lpl_list_entry.articles div.description {
  width:45%;
  overflow:hidden;
}

div.lpl_list_entry.media_resources div.thumbnail {
  width:64px;
  height:64px;
}

div.lpl_list_entry.media_resources div.description {
  width:40%;
  overflow:hidden;
}

div.lpl_list_entry div.date {
  font-size:12px;
  width:75px;
}

div.lpl_list_entry div.status {
  overflow:hidden;
}
  
div.lpl_list_entry div.actions {
  width:25%;
  overflow:hidden;
}
