/* -------------------------------------------------------- */
/*    BASIC BUTTON                                          */
/*    gray, green, red pill-style buttons                   */
/* -------------------------------------------------------- */

/* gray */

div.lpl_btn_basic {
  outline:none;
  position:relative;
  float:left;
  cursor:pointer;
  top:0px;
  height:30px;
  padding-left:20px;
  padding-right:5px;
  margin-right:20px;
  font-size:12px;
  line-height:28px;
  font-weight:bold;
  text-shadow: 1px 1px 1px #ddd;
  background: transparent url(assets/lpl/capsule-button.png) no-repeat -15px -80px;
}

div.lpl_btn_basic::-moz-selection{
 background:transparent;
}

div.lpl_btn_basic::selection {
 background:transparent;
}


div.lpl_btn_basic span {
  position:absolute;
  float:right;
  top:0px;
  right:0px;
  width:15px;
  height:30px;
  margin-right:-15px;
  background: transparent url(assets/lpl/capsule-button.png) no-repeat 0px -80px;
}

div.lpl_btn_basic:hover {
  background: transparent url(assets/lpl/capsule-button.png) no-repeat -15px -40px;
}

div.lpl_btn_basic:hover span {
  background: transparent url(assets/lpl/capsule-button.png) no-repeat 0px -40px;
}


div.lpl_btn_basic:active {
  line-height:30px;
  background: transparent url(assets/lpl/capsule-button.png) no-repeat -15px 0px;
}

div.lpl_btn_basic:active span {
  background: transparent url(assets/lpl/capsule-button.png) no-repeat 0px 0px;
}

/* green */

div.lpl_btn_basic.green {
  text-shadow: 1px 1px 1px #cbe14a;
  background: transparent url(assets/lpl/capsule-button.png) no-repeat -15px -200px;
}

div.lpl_btn_basic.green span {
  background: transparent url(assets/lpl/capsule-button.png) no-repeat 0px -200px;
}

div.lpl_btn_basic.green:hover {
  background: transparent url(assets/lpl/capsule-button.png) no-repeat -15px -160px;
}

div.lpl_btn_basic.green:hover span {
  background: transparent url(assets/lpl/capsule-button.png) no-repeat 0px -160px;
}


div.lpl_btn_basic.green:active {
  background: transparent url(assets/lpl/capsule-button.png) no-repeat -15px -120px;
}

div.lpl_btn_basic.green:active span {
  background: transparent url(assets/lpl/capsule-button.png) no-repeat 0px -120px;
}

/* red */

div.lpl_btn_basic.red {
  color:#fff;
  text-shadow: 1px 1px 1px #980a07;
  background: transparent url(assets/lpl/capsule-button.png) no-repeat -15px -320px;
}

div.lpl_btn_basic.red span {
  background: transparent url(assets/lpl/capsule-button.png) no-repeat 0px -320px;
}

div.lpl_btn_basic.wide {
  text-align:center;
  width:150px;
}

div.lpl_btn_basic.right {
  float:right;
}

div.lpl_btn_basic.red:hover {
  background: transparent url(assets/lpl/capsule-button.png) no-repeat -15px -280px;
}

div.lpl_btn_basic.red:hover span {
  background: transparent url(assets/lpl/capsule-button.png) no-repeat 0px -280px;
}


div.lpl_btn_basic.red:active {
  background: transparent url(assets/lpl/capsule-button.png) no-repeat -15px -240px;
}

div.lpl_btn_basic.red:active span {
  background: transparent url(assets/lpl/capsule-button.png) no-repeat 0px -240px;
}

/* -------------------------------------------------------- */
/*    BIG SQUARE BUTTON                                     */
/*    gray, green, red square buttons                       */
/*    with rounded corners and a matte finish               */
/* -------------------------------------------------------- */

/* gray */

div.lpl_btn_square {
  outline:none;
  position:relative;
  float:left;
  cursor:pointer;
  top:0px;
  height:30px;
  padding-left:15px;
  padding-right:1px;
  margin-right:15px;
  font-size:12px;
  line-height:26px;
  font-weight:bold;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
  background: transparent url(assets/lpl/square-button.png) no-repeat -15px -10px;
}

div.lpl_btn_square a {
  text-decoration:none;
  color:#000;
}

div.lpl_btn_square::-moz-selection{
 background:transparent;
}

div.lpl_btn_square::selection {
 background:transparent;
}

div.lpl_btn_square span {
  position:absolute;
  float:right;
  top:0px;
  right:0px;
  width:15px;
  height:30px;
  margin-right:-15px;
  background: transparent url(assets/lpl/square-button.png) no-repeat 0px -10px;
}

div.lpl_btn_square:hover {
  background: transparent url(assets/lpl/square-button.png) no-repeat -15px -50px;
}

div.lpl_btn_square:hover span {
  background: transparent url(assets/lpl/square-button.png) no-repeat 0px -50px;
}

div.lpl_btn_square:active {
  line-height:28px;
  background: transparent url(assets/lpl/square-button.png) no-repeat -15px -90px;
}

div.lpl_btn_square:active span {
  background: transparent url(assets/lpl/square-button.png) no-repeat 0px -90px;
}

/* green */

div.lpl_btn_square.green {
  text-shadow: 0px 1px 1px #cbe14a;
  background: transparent url(assets/lpl/square-button.png) no-repeat -15px -130px;
}

div.lpl_btn_square.green span {
  background: transparent url(assets/lpl/square-button.png) no-repeat 0px -130px;
}

div.lpl_btn_square.green:hover {
  background: transparent url(assets/lpl/square-button.png) no-repeat -15px -170px;
}

div.lpl_btn_square.green:hover span {
  background: transparent url(assets/lpl/square-button.png) no-repeat 0px -170px;
}

div.lpl_btn_square.green:active {
  background: transparent url(assets/lpl/square-button.png) no-repeat -15px -210px;
}

div.lpl_btn_square.green:active span {
  background: transparent url(assets/lpl/square-button.png) no-repeat 0px -210px;
}

/* red */

div.lpl_btn_square.red {
  color:#fff;
  text-shadow: 0px 1px 1px #980a07;
  background: transparent url(assets/lpl/square-button.png) no-repeat -15px -250px;
}

div.lpl_btn_square.red span {
  background: transparent url(assets/lpl/square-button.png) no-repeat 0px -250px;
}

div.lpl_btn_square.red:hover {
  background: transparent url(assets/lpl/square-button.png) no-repeat -15px -290px;
}

div.lpl_btn_square.red:hover span {
  background: transparent url(assets/lpl/square-button.png) no-repeat 0px -290px;
}


div.lpl_btn_square.red:active {
  background: transparent url(assets/lpl/square-button.png) no-repeat -15px -330px;
}

div.lpl_btn_square.red:active span {
  background: transparent url(assets/lpl/square-button.png) no-repeat 0px -330px;
}

/* -------------------------------------------------------- */
/*    WHITE BUTTON                                          */
/*    as used in the shelf's header                         */
/* -------------------------------------------------------- */


div.lpl_btn_white {
  outline:none;
  position:relative;
  float:left;
  cursor:pointer;
  top:0px;
  height:30px;
  padding-left:15px;
  padding-right:1px;
  margin-right:15px;
  color:#555;
  font-size:11px;
  line-height:22px;
  font-weight:bold;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
  background: transparent url(assets/lpl/square-button.png) no-repeat -37px -610px;
}

div.lpl_btn_white a {
  text-decoration:none;
  color:#000;
}

div.lpl_btn_white::-moz-selection{
 background:transparent;
}

div.lpl_btn_white::selection {
 background:transparent;
}

div.lpl_btn_white span {
  position:absolute;
  float:right;
  top:0px;
  right:0px;
  width:15px;
  height:30px;
  margin-right:-15px;
  background: transparent url(assets/lpl/square-button.png) no-repeat -620px -610px;
}

div.lpl_btn_white:hover {
  color:#333;
  background: transparent url(assets/lpl/square-button.png) no-repeat -37px -640px;
}

div.lpl_btn_white:hover span {
  background: transparent url(assets/lpl/square-button.png) no-repeat -620px -640px;
}

div.lpl_btn_white:active {
  line-height:24px;
  background: transparent url(assets/lpl/square-button.png) no-repeat -37px -670px;
}

div.lpl_btn_white:active span {
  background: transparent url(assets/lpl/square-button.png) no-repeat -620px -670px;
}

div.lpl_btn_white.active {
  color:#fff;
  line-height:24px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
  background: transparent url(assets/lpl/square-button.png) no-repeat -37px -670px;
}

div.lpl_btn_white.active span {
  background: transparent url(assets/lpl/square-button.png) no-repeat -620px -670px;
}



/* -------------------------------------------------------- */
/*    ICON BUTTON 30x26                                     */
/*    black and white icon buttons                          */
/* -------------------------------------------------------- */

div.lpl_btn_30x26 {
  outline:none;
  position:relative;
  float:left;
  cursor:pointer;
  top:0px;
  width:30px;
  height:28px;
  margin:2px;
  background: transparent url(assets/lpl/square-button.png) no-repeat 0px -370px;
}

div.lpl_btn_30x26::-moz-selection, div.lpl_btn_30x26 img::-moz-selection {
 background:transparent;
}

div.lpl_btn_30x26::selection, div.lpl_btn_30x26 img::selection {
 background:transparent;
}

div.lpl_btn_30x26:hover {
  background: transparent url(assets/lpl/square-button.png) no-repeat 0px -410px;
}

div.lpl_btn_30x26:active {
  background: transparent url(assets/lpl/square-button.png) no-repeat 0px -450px;
}

div.lpl_btn_30x26 img {
  margin:3px 0 0 5px;
}

div.lpl_btn_30x26:active img {
  margin:4px 0 0 5px;
}

div.lpl_btn_30x26.black {
  background: transparent url(assets/lpl/square-button.png) no-repeat 0px -490px;
}

div.lpl_btn_30x26.black:hover {
  background: transparent url(assets/lpl/square-button.png) no-repeat 0px -530px;
}

div.lpl_btn_30x26.black:active {
  background: transparent url(assets/lpl/square-button.png) no-repeat 0px -570px;
}


/* -------------------------------------------------------- */
/*    LIST BUTTON                                           */
/*    List button styles used for Topics                    */
/* -------------------------------------------------------- */

ul.lpl_topics_container {
  display:block;
  position:relative;
  float:left;
  font-size:13px;
  margin:0 5px 5px 0;
  min-width:125px;
  max-width:274px;
  border: 2px solid transparent;
}

ul.lpl_topics_container.active {
  background:#333;
  border: 2px dashed #96c800; /* 96c800 or d0e454 */
}

ul.lpl_topics_container div.title {
  display:block;
  position:relative;
  padding:0 0 0 10px;
  background: transparent url(assets/lpl/topics-tl.png) no-repeat top left;
}

ul.lpl_topics_container div.title div.encapsulate {
  position:relative;
  text-align:center;
  color:#333;
  text-shadow: 1px 1px 1px #fff;
  padding:2px 10px 2px 0;
  font-size:10px;
  font-weight:bold;
  background: transparent url(assets/lpl/topics-tr.png) no-repeat top right;
}

ul.lpl_topics_container div.container {
  display:block;
  position:relative;
  padding:0 0 0 10px;
  background: transparent url(assets/lpl/topics-bl.png) no-repeat bottom left;
}

ul.lpl_topics_container div.container div.encapsulate {
  position:relative;
  padding:0 0 15px 0;
  text-align:center;
  background: transparent url(assets/lpl/topics-br.png) no-repeat bottom right;
}

ul.lpl_topics_container div.container li {
  display:block;
  position:relative;
  cursor:pointer;
  min-width:120px;
  min-height:30px;
  margin:0 1px 0 -9px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #dadada;
  background: transparent url(assets/lpl/topic-idle.png) no-repeat center left;
}

ul.lpl_topics_container div.container li div.encapsulate {
  position:relative;
  text-align:left;
  font-weight:bold;
  line-height:20px;
  color:#222;
  text-shadow: 1px 1px 1px #fff;
  padding:5px 25px 5px 10px;
  background: transparent url(assets/lpl/topic-idle.png) no-repeat center right;
}

ul.lpl_topics_container div.container li div.encapsulate::-moz-selection{
 background:transparent;
}

ul.lpl_topics_container div.container li div.encapsulate::selection {
 background:transparent;
}

ul.lpl_topics_container div.container li:hover {
  cursor:pointer;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d9d9d9;
  background: transparent url(assets/lpl/topic-hover.png) no-repeat center left;
}

ul.lpl_topics_container div.container li:hover div.encapsulate {
  background: transparent url(assets/lpl/topic-hover.png) no-repeat center right;
}

ul.lpl_topics_container div.container li:active {
  cursor:pointer;
  border-top: 1px solid #666;
  border-bottom: 1px solid #999;
  background: transparent url(assets/lpl/topic-down.png) no-repeat center left;
}

ul.lpl_topics_container div.container li:active div.encapsulate {
  color:#fff;
  text-shadow: 1px 1px 1px #666;
  background: transparent url(assets/lpl/topic-down.png) no-repeat center right;
  z-index:10000;
}

ul.lpl_topics_container div.container li.selected,
ul.lpl_topics_container div.container li:active.selected {
  cursor:pointer;
  border-top: 1px solid #64a700;
  border-bottom: 1px solid #96c800;
  background: transparent url(assets/lpl/topic-selected.png) no-repeat center left;
}

ul.lpl_topics_container div.container li.selected div.encapsulate {
  color:#fff;
  text-shadow: 1px 1px 1px #64a700;
  background: transparent url(assets/lpl/topic-selected.png) no-repeat center right;
}

/* -------------------------------------------------------- */
/*    LIST MENU                                             */
/*    List button styles used for general menus             */
/* -------------------------------------------------------- */

ul.lpl_list_menu {
  display:block;
  position:relative;
  float:left;
  font-size:13px;
  margin:5px;
  padding:0 0 7px 0;
  min-width:100px;
  max-width:400px;
  z-index:20000;
  background: #e7e8e7 url(assets/lpl/gradient-brighter.png) repeat-x;
  -webkit-border-radius: 7px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 7px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
}

ul.lpl_list_menu div.title {
  position:relative;
  text-align:center;
  color:#555;
  font-weight:bold;
  text-shadow: 1px 1px 1px #fff;
  padding:2px 5px 2px 5px;
  border-bottom: 1px solid #dadada;
}

ul.lpl_list_menu li {
  display:block;
  position:relative;
  cursor:pointer;
  font-weight:bold;
  color:#333;
  padding:1px 7px 1px 7px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #dadada;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1.75);
}

ul.lpl_list_menu li:hover {
  cursor:pointer;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color:#333;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  background:#999 url(assets/lpl/gradient-bright.png) repeat-x 0px -30px;
}

ul.lpl_list_menu li:active {
  cursor:pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  color:#111;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.25);
  background:#666 url(assets/lpl/speed-stripesi.png) repeat-x 0px -170px;
}

ul.lpl_list_menu li.selected {
  cursor:pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  color:#fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  background:#9bc019 url(assets/lpl/gradient-yay.png) repeat-x 0px -2px;
}

ul.lpl_list_menu li.selected:active {
  cursor:pointer;
  background:#9bc019 url(assets/lpl/speed-stripesi.png) repeat-x 0px 0px;
}

/* -------------------------------------------------------- */
/*    CIRCULAR BUTTONS                                      */
/*    various round buttons                                 */
/* -------------------------------------------------------- */


div.lpl_reload_round_24 {
  position:absolute;
  top:3px;
  right:30px;
  width:24px;
  height:24px;
  text-indent:-3000px;
  background: transparent url(assets/lpl/24x24-round-actions.png) repeat-x 0px 0px;
  cursor:pointer;
}

div.lpl_reload_round_24:hover {
  background: transparent url(assets/lpl/24x24-round-actions.png) repeat-x 0px -30px;
}

div.lpl_reload_round_24:active {
  background: transparent url(assets/lpl/24x24-round-actions.png) repeat-x 0px -60px;
}

div.lpl_previous_round_24 {
  position:absolute;
  top:3px;
  right:31px;
  width:24px;
  height:24px;
  text-indent:-3000px;
  background: transparent url(assets/lpl/24x24-round-actions.png) repeat-x -30px 0px;
  cursor:pointer;
}

div.lpl_previous_round_24:hover {
  background: transparent url(assets/lpl/24x24-round-actions.png) repeat-x -30px -30px;
}

div.lpl_previous_round_24:active {
  background: transparent url(assets/lpl/24x24-round-actions.png) repeat-x -30px -60px;
}


div.lpl_next_round_24 {
  position:absolute;
  top:3px;
  right:3px;
  width:24px;
  height:24px;
  text-indent:-3000px;
  background: transparent url(assets/lpl/24x24-round-actions.png) repeat-x -60px 0px;
  cursor:pointer;
}

div.lpl_next_round_24:hover {
  background: transparent url(assets/lpl/24x24-round-actions.png) repeat-x -60px -30px;
}

div.lpl_next_round_24:active {
  background: transparent url(assets/lpl/24x24-round-actions.png) repeat-x -60px -60px;
}

div.lpl_reload_round_24::-moz-selection, div.lpl_previous_round_24::-moz-selection, div.lpl_next_round_24::-moz-selection {
 background:transparent;
}

div.lpl_reload_round_24::selection, div.lpl_previous_round_24::selection, div.lpl_next_round_24::selection {
 background:transparent;
}


/* -------------------------------------------------------- */
/*    BUTTON CONTAINERS                                     */
/*    button lay out helpers                                */
/* -------------------------------------------------------- */

div.buttons {
  margin:5px;
  clear:both;
  overflow:hidden;
}

div.buttons.center {
  text-align:center;
  clear:both;
}

div.buttons.right {
  text-align:right;
  clear:both;
}

div#lpl_toolbar {
  position:fixed;
  left:0px;
  top:100px;
  width:50px;
  height:150px;
  overflow:hidden;
  background:#eee;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

div#lpl_shelf {
  position:fixed;
  right:0px;
  top:100px;
  width:50px;
  height:150px;
  overflow:hidden;
  background:#eee;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
