/* -------------------------------------------------------- */
/*    lepilo CONTENT                                        */
/*    (maybe the div#article stuff is not needed anymore?)  */
/* -------------------------------------------------------- */

div#lpl_content {
  position:absolute;
  top:62px;
  overflow:hidden;
  padding-bottom:50px;
  overflow:hidden;
}

/* -------------------------------------------------------- */
/*    GENERIC LIST                                          */
/*    generic list list styles                              */
/* -------------------------------------------------------- */

div.lpl_list {
  display:table;
  position:relative;
  width:100%;
  clear:both;
  overflow:hidden;
}

div.lpl_list_entry {
  display:table-row;
  position:relative;
  width:100%;
  clear:both;
  margin:0 0 10px 0;
  overflow:hidden;
}

div.lpl_list_entry h3 {
  color:#333;
  font-size:12px;
  line-height:14px;
  text-shadow: 0px 1px 0px #fff;
}


/* -------------------------------------------------------- */
/*    CONTENT LISTS                                         */
/*    list styles used when representing the different      */
/*    blocks in a list-like view                            */
/* -------------------------------------------------------- */

ul.lpl_content_list {
  position:relative;
  padding:10px 0 10px 0;
  margin:0 0 5px 0;
  background: #e7e8e7 url(/images/lpl/gradient-brighter.png) repeat-x;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

ul.lpl_content_list h1 {
  color:#333;
  padding:5px 20px 5px 20px;
  text-shadow:0px 1px 0px rgba(255, 255, 255, 0.75);
}

ul.lpl_content_list > li {
  position:relative;
  padding:10px 20px 10px 20px;
  border-bottom:1px solid #ccc;
  overflow:hidden;
}

ul.lpl_content_list > li:nth-child(2) {
  border-top:1px solid #ccc;
}

ul.lpl_content_list > li h2 {
  color:#000;
  font-size:16px;
  margin:0;
  text-shadow:0px 1px 0px rgba(255, 255, 255, 0.75);
}

ul.lpl_content_list > li div.thumbnail {
  position:relative;
  float:left;
  width:64px;
  height:64px;
  margin:0 10px 0 0;
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
  overflow:hidden;
}

ul.lpl_content_list > li div.metadata {
  margin:0 0 5px 0;
  font-size:10px;
  line-height:12px;
  color:#999;
}

ul.lpl_content_list > li div.description {
  font-size:11px;
  line-height:13px;
}

ul.lpl_content_list > li div.reorder {
  position:absolute;
  top:5px;
  left:0px;
  width:15px;
  height:25px;
  background:rgba(0,0,0,0.05);
  cursor:ns-resize;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
}

ul.lpl_content_list > li div.reorder:hover {
  background:rgba(0,0,0,0.2);
}

ul.lpl_content_list > li div.edit {
  position:relative;
  float:right;
  top:-10px;
  right:-10px;
  height:20px;
  padding:0 5px 0 5px;
  font-size:11px;
  line-height:18px;
  background:rgba(0,0,0,0.1);
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
}

/* -------------------------------------------------------- */
/*    CONTAINER STYLES                                      */
/*    misc styles to wrap content in, from inset, hovering, */
/*    bordered, on                                          */
/* -------------------------------------------------------- */

.lpl_container_rounded {
  position:relative;
  padding:10px 0 10px 0;
  background: #e7e8e7 url(/images/lpl/gradient-brighter.png) repeat-x;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.lpl_container_inset {
  position:relative;
  display:block;
  margin:5px;
  padding:5px 0 5px 0;
  clear:both;
  /*background: #e7e8e7 url(/images/lpl/gradient-brighter.png) repeat-x;*/
  /*border: 1px solid rgba(0, 0, 0, 0.2);*/
  background:rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  -moz-border-radius: 5px;
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  overflow:hidden;
}

/* -------------------------------------------------------- */
/*    CONTAINERS                                            */
/*    white, rounded corners & dropshadow goodness          */
/* -------------------------------------------------------- */

div#lpl_article_container {
  position:relative;
  margin:0 10px 0 10px;
  padding:10px;
  background: #fafafa;
  -webkit-border-radius: 7px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 7px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  overflow:hidden;
}

#lpl_article_container ul {
  list-style-type:disc;
}

#lpl_article_container ul li {
  text-indent:20px;
  list-style-type:circle;
  list-style-position: outside;
}

div#lpl_textblock_container {
  position:relative;
  margin:5px;
  padding:20px;
  background: #fafafa;
  -webkit-border-radius: 7px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 7px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  overflow:hidden;
  clear:both;
}

div#lpl_mediablock_container {
  position:relative;
  margin:5px;
  padding:20px;
  text-align:center;
  background: #333;
  -webkit-border-radius: 7px;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-border-radius: 7px;
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
  overflow:hidden;
  clear:both;
}

div#lpl_mediablock_container div {
  color:#fff;
  font-size:12px;
  font-weight:bold;
  text-shadow: 0px 1px 1px #000;
}

/* ———————————————————————————————————————— */
/*    old content list styles               */

div.lpl_list_entry.articles, 
div.lpl_list_entry.media_resources, 
div.lpl_list_entry.text_containers {
}

div.lpl_list_entry.articles div, 
div.lpl_list_entry.media_resources div, 
div.lpl_list_entry.text_containers div {
  display:table-cell;
  padding:4px;
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background: #ddd url(/images/lpl/gradient-bright.png) repeat-x;
}

div.lpl_list_entry div.description {
  padding:4px 10px 4px 10px;
  color:#111;
  font-size:11px;
  line-height:14px;
  text-shadow: 0px 1px 0px #fff;
}

div.lpl_list_entry.articles div.thumbnail {
  width:32px;
}

div.lpl_list_entry.articles div.description {
  width:45%;
  overflow:hidden;
}

div.lpl_list_entry.media_resources div.thumbnail {
  width:64px;
  height:64px;
}

div.lpl_list_entry.media_resources div.description {
  width:40%;
  overflow:hidden;
}

div.lpl_list_entry div.date {
  font-size:12px;
  width:75px;
}

div.lpl_list_entry div.status {
  overflow:hidden;
}
  
div.lpl_list_entry div.actions {
  width:25%;
  overflow:hidden;
}
