/* -------------------------------------------------------- */
/*    BASE FORM STYLES                                      */
/*    some default styles for lepilo's form rendering       */
/* -------------------------------------------------------- */

label {
  display:block;
  clear:both;
  font-size:11px;
  font-weight:bold;
  margin:0 2px -2px 0px;
  color:rgba(0, 0, 0, 0.75);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

textarea, input[type='text'], input[type='password'] {
  display:block;
  margin-left:auto;
  margin-right:auto;
  font-size:12px;
  width:100%;
  background: #fff url(assets/lpl/gradient-inputs.png) repeat-x top left;
  border: 1px solid #777;
}

textarea:focus, input[type='text']:focus, input[type='password']:focus {
  border: 1px solid #93c119;
}

select {
  min-width:50px;
}

/* -------------------------------------------------------- */
/*    TABLE FORM CONTAINER                                  */
/*    form containers styles                                */
/* -------------------------------------------------------- */


table.lpl_form {
  position:relative;
  width:100%;
  padding:10px;
  border:20px solid transparent;
  border-collapse:collapse;
}

table.lpl_form th {
  position:relative;
  width:50%;
  text-align:left;
  border:10px solid transparent;
  border-collapse:collapse;
}

table.lpl_form th > label {
  font-size:12px;
}

table.lpl_form tr {
  position:relative;
  width:50%;
  border-collapse:collapse;
}

table.lpl_form tr > td {
  position:relative;
  width:50%;
  vertical-align:top;
  border:10px solid transparent;
  border-collapse:collapse;
}

table.lpl_form tr > td textarea, 
table.lpl_form tr > td input[type='text'], 
table.lpl_form tr > td input[type='password'] {
  position:relative;
  top:0px;
  left:0px;
  width:100%;
}

/* -------------------------------------------------------- */
/*    DIV FORM CONTAINER                                    */
/*    form containers styles                                */
/* -------------------------------------------------------- */


.form-container {
  position:relative;
  min-width:250px;
  background: #ced0cf url(assets/lpl/gradient-bright.png) repeat-x;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.75);
  overflow:hidden;
}

.lpl_form_elements {
  position:relative;
  display: block;
  padding:0 10px 5px 10px;
  margin:0 6px 0 0;
  overflow:hidden;
}

.lpl_form_elements.split2 {
  position:relative;
  display: block;
  padding:0 0 5px 0;
  margin:0 6px 0 0;
  overflow:hidden;
}


.lpl_form_elements .half {
  position:relative;
  display: block;
  float:left;
  width:48.5%;
  padding:0;
  margin:0 0 0 10px;
  overflow:hidden;
}

.lpl_form_elements .half:nth-child(2) {
  float:right;
  text-align:right;
  margin:0px;
}

.lpl_form_elements .half textarea, 
.lpl_form_elements .half input[type='text'], 
.lpl_form_elements .half input[type='password'] {
  margin-left:0px;
  margin-right:auto;
  width:97%;
}

.lpl_form_elements .half:nth-child(2) textarea, 
.lpl_form_elements .half:nth-child(2)input[type='text'], 
.lpl_form_elements .half:nth-child(2)input[type='password'] {
  margin-left:auto;
  margin-right:3px;
}

#lpl_core_inspector .lpl_form_elements select {
  width:100%;
}

#lpl_core_inspector table.lpl_form td select {
  width:100%;
}


#lpl_core_inspector .lpl_form_elements .half {
  width:47%;
}

#lpl_core_inspector .lpl_form_elements .half {
  width:47%;
}

#lpl_core_inspector .lpl_form_elements .half textarea, 
#lpl_core_inspector .lpl_form_elements .half input[type='text'], 
#lpl_core_inspector .lpl_form_elements .half input[type='password'] {
  width:94%;
}

#lpl_core_inspector .lpl_form_elements .half:nth-child(2) textarea, 
#lpl_core_inspector .lpl_form_elements .half:nth-child(2)input[type='text'], 
#lpl_core_inspector .lpl_form_elements .half:nth-child(2)input[type='password'] {
  margin-left:auto;
  margin-right:0px;
}


textarea.invalid,
select.invalid,
input[type='text'].invalid, 
input[type='password'].invalid{
  border: 1px solid rgba(225,72,55,1);
  -webkit-box-shadow: 0px 0px 3px rgba(225,72,55,1);
  -moz-box-shadow: 0px 0px 3px rgba(225,72,55,1);
  /* red variations: 253,120,112; 225,72,55; 210,57,42 */
}

label.invalid {
  color:rgb(210,57,42);
  -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.75);
  
}

/* -------------------------------------------------------- */
/*    SEARCH INPUTS                                         */
/*    styling for the search input[type='text']             */
/* -------------------------------------------------------- */

input[type='text'].search {
  position:relative;
  width:200px;
  height:25px;
  padding:1px 30px 0 10px;
  overflow:hidden;
  border:none;
  font-size:14px;
  color:#666;
  background: transparent url(assets/lpl/search-bg.png) no-repeat;
}

#lpl_core_shelf .header input[type='text'].search {
  position:absolute;
  top:5px;
  right:25px;
}