/* -------------------------------------------------------- */
/*    MODAL DIALOG                                          */
/*    Simple modal dialog that slides into view             */
/*    and overlays the content                              */
/* -------------------------------------------------------- */

div#lpl_modal {
  position:fixed;
  left:0px;
  top:-5000px;
  width:100%;
  height:100%;
  text-align:center;
  background: transparent url(assets/lpl/black-50alpha.png) repeat;
  z-index:30000;
}

div#lpl_modal_dialog {
  position:relative;
  margin-left:auto;
  margin-right:auto;
  width:524px;
  text-align:left;
  background: transparent url(assets/lpl/modal-dialog.png) no-repeat bottom center;
  z-index:30001;
  overflow:hidden;
}

div#lpl_modal_dialog div.info {
  height:40px;
  background: transparent url(assets/lpl/modal-dialog.png) no-repeat -22px 0px;
  margin:0 22px 10px 22px;
  overflow:hidden;
}

div#lpl_modal_dialog div.info h1 {
  margin:8px 0 0 0;
  text-align:center;
  font-size:18px;
  font-weight:bold;
  color:#fff;
  text-shadow: 1px 1px 1px #222;
}

div#lpl_modal_dialog div.info.fail {
  background: transparent url(assets/lpl/modal-dialog.png) no-repeat -22px -50px;
}

div#lpl_modal_dialog div.info.fail h1 {
  color:#fff;
  text-shadow: 1px 1px 1px #980a07;
}


div#lpl_modal_dialog div.info.yay {
  background: transparent url(assets/lpl/modal-dialog.png) no-repeat -22px -100px;
}

div#lpl_modal_dialog div.info.yay h1 {
  color:#fff;
  text-shadow: 1px 1px 1px #3b811a;
}


div#lpl_modal_dialog div.content   {
  margin:20px 40px 40px 40px;
}

div#lpl_modal_dialog div.confirm {
  position:relative;
  height:25px;
  margin:10px 10px 0 10px;
}