/* lepilo Header */

#lpl_core_header div.icon {
  margin:0 0 0 5px;
  padding:2px;
  position:relative;
  float:left;
  top:0px;
}

#lpl_core_header div.icon:hover {
  background:rgba(255,255,255,0.5);
}

#lpl_core_header div.icon:active {
  background:rgba(0,0,0,0.25);
}

#lpl_core_header div.icon.active {
  background:rgba(0,0,0,0.1);
}


#lpl_core_header div.icon::-moz-selection, #lpl_core_header div.icon::selection {
  background:transparent;
}
